SEO Articels Content generation with Faqs and redict
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -80
      ],
      "id": "277a6bae-f3e6-499b-8c26-d41474323444",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "058fd412-eb54-40ad-a0cf-6bc5f82614b2",
              "name": "keyword",
              "value": "good mood medicine",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        -80
      ],
      "id": "d194cecb-e330-4c21-a9f8-2681e1c63f57",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"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\",\n  \"query\": \"{{ $('Edit Fields').first().json.keyword }}\",\n  \"search_depth\": \"basic\",\n  \"max_results\": 8,\n  \"include_domains\": [\n    \"reddit.com\",\n    \"healthline.com\",\n    \"webmd.com\",\n    \"medicalnewstoday.com\",\n    \"wikipedia.org\",\n    \"mayoclinic.org\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        304,
        -80
      ],
      "id": "f63a92a8-9996-4cca-acb0-6a02e33bd294",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional content writer. Write an article using ONLY the data below.\n\nKEYWORD: {{ $json.keyword }}\n\nARTICLES ({{ $json.totalArticles }} found):\n{{ JSON.stringify($json.articles) }}\n\nREDDIT POSTS ({{ $json.totalReddit }} found):\n{{ JSON.stringify($json.reddit) }}\n\nSTRICT RULES:\n- Article must be about: {{ $json.keyword }}\n- Use ONLY real URLs from data above\n- Use ONLY real Reddit titles from data above\n- DO NOT invent fake links\n\nCreate the article:\n\n# [Title about {{ $json.keyword }}]\n\n## Introduction\n[2 paragraphs about {{ $json.keyword }}]\n\n## Main Content\n[4-5 paragraphs using ARTICLES data]\n\n## Key Benefits\n- Point 1\n- Point 2\n- Point 3\n- Point 4\n- Point 5\n\n## FAQs\n**Q1: [Question]?**\nA: [Answer]\n\n**Q2: [Question]?**\nA: [Answer]\n\n**Q3: [Question]?**\nA: [Answer]\n\n## Reddit Discussions\nUse REAL Reddit titles from REDDIT POSTS above:\n- [Real title 1]\n- [Real title 2]\n- [Real title 3]\n\n## Reference Links\nUse REAL URLs from ARTICLES above:\n1. [Title] - [URL]\n2. [Title] - [URL]\n3. [Title] - [URL]\n4. [Title] - [URL]\n5. [Title] - [URL]\n\n## Conclusion\n[Brief summary]\n\nKeep under 2500 characters.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        928,
        -96
      ],
      "id": "390e045d-658b-4746-9e40-6ac3152f15a9",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        864,
        128
      ],
      "id": "d1358a88-64e4-4001-9efe-4a3ae893b596",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "KGoLnObwpi4ciEnX",
          "name": "Groq account 9"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app0YXAtpSOJHeaEK",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/app0YXAtpSOJHeaEK"
        },
        "table": {
          "__rl": true,
          "value": "tbltgULyq6RyhNQk3",
          "mode": "list",
          "cachedResultName": "Articles Collections",
          "cachedResultUrl": "https://airtable.com/app0YXAtpSOJHeaEK/tbltgULyq6RyhNQk3"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "keyword": "={{ $('Edit Fields').first().json.keyword }}",
            "Article": "={{ $('Basic LLM Chain').first().json.text }}",
            "date": "={{ $now.toFormat('yyyy-MM-dd') }}",
            "Status": "Done"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "keyword",
              "displayName": "keyword",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Article",
              "displayName": "Article",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1296,
        -64
      ],
      "id": "f18b7a1e-a556-4d94-a5e5-36de543aeb35",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "iccjdwrcfJJC7ofH",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8743677735",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1936,
        -64
      ],
      "id": "33fdfb8f-fe17-49b8-be70-4e696566dbc2",
      "name": "Send a text message",
      "webhookId": "406fc4f0-bf36-445c-9118-99eb42784539",
      "credentials": {
        "telegramApi": {
          "id": "PcoYRZdms1CfxiOF",
          "name": "Telegram account 6"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const article = $('Basic LLM Chain').first().json.text;\nconst keyword = $('Edit Fields').first().json.keyword;\n\nlet message = `📚 Article: ${keyword}\\n\\n${article}`;\n\n// If too long, trim it\nif (message.length > 4000) {\n  message = message.substring(0, 3900) + \"\\n\\n...(truncated - full article in Airtable)\";\n}\n\nreturn [{ json: { message: message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        -32
      ],
      "id": "c158d561-3480-4a5b-8bc6-c00973e5cbf0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        144,
        -80
      ],
      "id": "2cebb8fd-0b7c-4b36-9fd5-20103aadcd6b",
      "name": "Wait",
      "webhookId": "af1dcfef-d24c-4e86-a8bb-360f6a1effbc"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst results = data.results || [];\n\nlet articles = [];\nlet reddit = [];\n\nfor (const r of results) {\n  const item = {\n    title: r.title || '',\n    url: r.url || '',\n    snippet: (r.content || '').substring(0, 300)\n  };\n  \n  // Separate Reddit from regular articles\n  if (r.url && r.url.includes('reddit.com')) {\n    reddit.push(item);\n  } else {\n    articles.push(item);\n  }\n}\n\nreturn [{\n  json: {\n    keyword: $('Edit Fields').first().json.keyword,\n    articles: articles,\n    reddit: reddit,\n    totalArticles: articles.length,\n    totalReddit: reddit.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -64
      ],
      "id": "8e196e83-0406-4318-a971-01c8b502aa40",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// Get the text to translate\nlet textToTranslate = \"\";\n\ntry {\n  textToTranslate = $('Code in JavaScript2').first().json.message;\n} catch (e) {\n  const input = $input.first().json;\n  if (input.result && input.result.text) {\n    textToTranslate = input.result.text;\n  } else {\n    textToTranslate = input.message || input.text || \"\";\n  }\n}\n\nif (!textToTranslate || textToTranslate.length < 2) {\n  textToTranslate = \"No content found to translate\";\n}\n\n// Create ONE item per language (LLM will run 6 times)\nconst languages = [\n  { name: \"Greek\",   flag: \"🇬🇷\" },\n  { name: \"Tamil\",   flag: \"🇮🇳\" },\n  { name: \"Spanish\", flag: \"🇪🇸\" },\n  { name: \"French\",  flag: \"🇫🇷\" },\n  { name: \"German\",  flag: \"🇩🇪\" },\n  { name: \"Hindi\",   flag: \"🇮🇳\" }\n];\n\nreturn languages.map(lang => ({\n  json: {\n    language: lang.name,\n    flag: lang.flag,\n    originalText: textToTranslate,\n    prompt: `You are a professional translator.\n\nTranslate the following text into ${lang.name}.\n\nSTRICT RULES:\n- Return ONLY the translated text, nothing else.\n- Do NOT add explanations, notes, quotes, or markdown.\n- Do NOT say \"Here is the translation\" or similar.\n- Keep all emojis exactly the same (🌿📌📝📖💊🎯).\n- Keep the line breaks and formatting/structure.\n- Translate ONLY the words.\n\nTEXT TO TRANSLATE:\n${textToTranslate}`\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        -64
      ],
      "id": "32861726-2d68-439d-baa5-ae242974eb1d",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2560,
        -64
      ],
      "id": "d1bd3b55-c1a2-4fbb-a986-b2de1cf9d8ad",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2288,
        144
      ],
      "id": "59bfda6a-9bbb-459e-ba95-cfb04e16e9cb",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "KGoLnObwpi4ciEnX",
          "name": "Groq account 9"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst messages = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Get translated text from LLM output\n  let translated = (data.text || data.output || data.response || '').toString().trim();\n  \n  // Clean up common LLM artifacts\n  translated = translated\n    .replace(/```[\\s\\S]*?\\n/g, '')\n    .replace(/```/g, '')\n    .replace(/^[\"']|[\"']$/g, '')\n    .trim();\n  \n  // Get language info — try from current item first, then fallback\n  let lang = data.language;\n  let flag = data.flag;\n  \n  // If language info was lost, try retrieving from JS2 by index\n  if (!lang) {\n    const idx = items.indexOf(item);\n    const langMap = [\n      { name: \"Greek\",   flag: \"🇬🇷\" },\n      { name: \"Tamil\",   flag: \"🇮🇳\" },\n      { name: \"Spanish\", flag: \"🇪🇸\" },\n      { name: \"French\",  flag: \"🇫🇷\" },\n      { name: \"German\",  flag: \"🇩🇪\" },\n      { name: \"Hindi\",   flag: \"🇮🇳\" }\n    ];\n    lang = langMap[idx]?.name || \"Unknown\";\n    flag = langMap[idx]?.flag || \"🌐\";\n  }\n  \n  if (!translated || translated.length < 2) {\n    messages.push({\n      json: {\n        message: `${flag} ${lang}: ⚠️ Not available`,\n        language: lang\n      }\n    });\n    continue;\n  }\n  \n  let msg = `${flag} ${lang} Translation\\n`;\n  msg += `━━━━━━━━━━━━━━━\\n\\n`;\n  msg += translated;\n  \n  if (msg.length > 4000) {\n    msg = msg.substring(0, 3990) + \"...\";\n  }\n  \n  messages.push({\n    json: {\n      message: msg,\n      language: lang\n    }\n  });\n}\n\nif (messages.length === 0) {\n  return [{ json: { message: \"⚠️ No translations generated\" } }];\n}\n\nreturn messages;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        -64
      ],
      "id": "f8ba92d9-ab15-4209-bbdc-58999cef41e0",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "chatId": "8743677735",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3120,
        -64
      ],
      "id": "496bf7f3-9b65-4e4d-9809-f7ba508c3f2a",
      "name": "Send a text message1",
      "webhookId": "188b24b2-d01c-4a1a-bbb8-feb155886322",
      "credentials": {
        "telegramApi": {
          "id": "PcoYRZdms1CfxiOF",
          "name": "Telegram account 6"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2352,
        -64
      ],
      "id": "18c89fbf-340b-4470-92c2-83a5dab3d0ac",
      "name": "Wait1",
      "webhookId": "9dddf066-7443-47f2-8f31-fb46d7cb1c8c"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3056,
        80
      ],
      "id": "91d589aa-0d4b-4a28-ab4a-c19e181e2bae",
      "name": "Wait2",
      "webhookId": "d30168ee-fcf8-4559-8e8f-8c6a0e871166"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e2f413562a5c14ae8e54e2133826249156134886eded6ab9302e3b059251d98"
  }
}
