SEO content generator output comes without decetion AI
{
  "name": "AI SEO Content Workflow - Template",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-2064, 240],
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1216, 304],
      "name": "Send a text message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "keyword",
              "value": "YOUR_KEYWORD_HERE",
              "type": "string"
            },
            {
              "name": "languages",
              "value": "english",
              "type": "string"
            },
            {
              "name": "word count",
              "value": "700",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1856, 240],
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "maxTokensToSample": 2000,
          "temperature": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [-1344, 576],
      "name": "Groq Chat Model3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-656, 288],
      "name": "Wait4"
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=Write a 500-word blog post about: {{ $json.keyword }}\n\nStructure:\n- INTRO (1 paragraph, 4-5 sentences)\n- BODY (3 paragraphs, 5-6 sentences each)\n- CONCLUSION (1 paragraph, 3-4 sentences)\n\nStyle: Casual, conversational tone.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [-1024, 240],
      "name": "Draft Writer"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {
          "maxTokensToSample": 2000,
          "temperature": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [-528, 544],
      "name": "Groq Chat Model4"
    },
    {
      "parameters": {
        "jsCode": "const httpResponse = $input.first().json;\nlet keyword = '';\n\ntry {\n  keyword = $('Edit Fields1').first().json.keyword || 'topic';\n} catch (e) {\n  keyword = 'topic';\n}\n\nlet research = '';\n\ntry {\n  if (httpResponse.query && httpResponse.query.pages) {\n    const pages = httpResponse.query.pages;\n    const pageId = Object.keys(pages)[0];\n    if (pages[pageId] && pages[pageId].extract) {\n      research = pages[pageId].extract;\n    }\n  }\n} catch (e) {\n  research = '';\n}\n\nif (!research || research.length < 100) {\n  research = `${keyword} - write about this topic with detailed information.`;\n}\n\nif (research.length > 2500) {\n  research = research.substring(0, 2500) + '...';\n}\n\nreturn [{ json: { keyword: keyword, research: research } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1440, 240],
      "name": "Clean data"
    },
    {
      "parameters": {
        "url": "=https://en.wikipedia.org/w/api.php?action=query&format=json&prop=extracts&exintro=&explaintext=&titles={{ encodeURIComponent($json.keyword) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-1648, 240],
      "name": "Free Research"
    },
    {
      "parameters": {
        "jsCode": "let text = $input.first().json.text || $input.first().json.output || '';\n\ntext = text.replace(/<think>[\\s\\S]*?<\\/think>/gi, '');\ntext = text.replace(/\\*\\*/g, '').replace(/##/g, '').trim();\n\n// Replace AI phrases with human ones\nconst aiToHuman = {\n  'It is important to note': 'btw,',\n  'In conclusion': 'so yeah,',\n  'Moreover': 'plus,',\n  'Furthermore': 'also,',\n  'Additionally': 'and,',\n  'Therefore': 'so',\n  'However': 'but',\n  'utilize': 'use',\n  'numerous': 'lots of',\n  'demonstrate': 'show',\n  'facilitate': 'help',\n  'beneficial': 'good'\n};\n\nfor (const [ai, human] of Object.entries(aiToHuman)) {\n  const regex = new RegExp('\\\\b' + ai + '\\\\b', 'gi');\n  text = text.replace(regex, human);\n}\n\n// Insert natural fillers\nconst fillers = [\n  ' — honestly — ',\n  ' (you know?) ',\n  ' kinda ',\n  ' I mean, ',\n  ' basically '\n];\n\nconst sentences = text.split('. ');\nif (sentences.length > 5) {\n  const positions = [\n    Math.floor(sentences.length * 0.3),\n    Math.floor(sentences.length * 0.6),\n    Math.floor(sentences.length * 0.8)\n  ];\n  \n  positions.forEach(pos => {\n    if (pos < sentences.length && pos > 0) {\n      const filler = fillers[Math.floor(Math.random() * fillers.length)];\n      sentences[pos] = sentences[pos] + filler;\n    }\n  });\n  \n  text = sentences.join('. ');\n}\n\ntext = text.replace(/\\s+\\./g, '.');\ntext = text.replace(/\\s+,/g, ',');\ntext = text.replace(/\\s{2,}/g, ' ');\ntext = text.trim();\n\nreturn [{ json: { text: text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-128, 256],
      "name": "Inject Human Randomness"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Make this article more conversational and natural.\n\nARTICLE:\n{{ $json.text }}\n\nADD:\n- Vary sentence lengths\n- Add natural transitions\n- Include conversational elements\n\nKEEP same topic and facts.\n\nOutput the improved article.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [-480, 256],
      "name": "Humanizer pass 1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-1232, 240],
      "name": "Wait5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [480, 256],
      "name": "Wait6"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {
          "maxTokensToSample": 2500,
          "temperature": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [208, 592],
      "name": "Groq Chat Model6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Refine this article for final quality.\n\nARTICLE:\n{{ $json.text }}\n\nIMPROVE:\n- Overall flow\n- Natural transitions\n- Engaging tone\n\nKEEP the casual style.\n\nOutput the final article.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [80, 256],
      "name": "Final Humanizer"
    },
    {
      "parameters": {
        "jsCode": "let text = $input.first().json.text || '';\n\ntext = text.replace(/<think>[\\s\\S]*?<\\/think>/gi, '');\ntext = text.replace(/\\*\\*/g, '').replace(/##/g, '').trim();\ntext = text.replace(/\\s+\\./g, '.');\ntext = text.replace(/\\s{2,}/g, ' ');\ntext = text.trim();\n\nconst keyword = $('Edit Fields1').first().json.keyword || 'topic';\n\nconst titles = [\n  `My Thoughts On ${keyword}`,\n  `${keyword} — A Quick Take`,\n  `Real Talk About ${keyword}`\n];\nconst title = titles[Math.floor(Math.random() * titles.length)];\n\nconst formatted = `📝 ${title}\\n\\n━━━━━━━━━━━━━━━━━━━\\n\\n${text}\\n\\n━━━━━━━━━━━━━━━━━━━\\n#${keyword.replace(/\\s+/g, '')}`;\n\nlet finalText = formatted;\nif (finalText.length > 4000) {\n  finalText = finalText.substring(0, 4000) + '...';\n}\n\nreturn [{ json: { text: finalText } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [752, 256],
      "name": "Final Cleanup"
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [[{ "node": "Edit Fields1", "type": "main", "index": 0 }]]
    },
    "Edit Fields1": {
      "main": [[{ "node": "Free Research", "type": "main", "index": 0 }]]
    },
    "Free Research": {
      "main": [[{ "node": "Clean data", "type": "main", "index": 0 }]]
    },
    "Clean data": {
      "main": [[{ "node": "Wait5", "type": "main", "index": 0 }]]
    },
    "Wait5": {
      "main": [[{ "node": "Draft Writer", "type": "main", "index": 0 }]]
    },
    "Groq Chat Model3": {
      "ai_languageModel": [[{ "node": "Draft Writer", "type": "ai_languageModel", "index": 0 }]]
    },
    "Draft Writer": {
      "main": [[{ "node": "Wait4", "type": "main", "index": 0 }]]
    },
    "Wait4": {
      "main": [[{ "node": "Humanizer pass 1", "type": "main", "index": 0 }]]
    },
    "Groq Chat Model4": {
      "ai_languageModel": [[{ "node": "Humanizer pass 1", "type": "ai_languageModel", "index": 0 }]]
    },
    "Humanizer pass 1": {
      "main": [[{ "node": "Inject Human Randomness", "type": "main", "index": 0 }]]
    },
    "Inject Human Randomness": {
      "main": [[{ "node": "Final Humanizer", "type": "main", "index": 0 }]]
    },
    "Groq Chat Model6": {
      "ai_languageModel": [[{ "node": "Final Humanizer", "type": "ai_languageModel", "index": 0 }]]
    },
    "Final Humanizer": {
      "main": [[{ "node": "Wait6", "type": "main", "index": 0 }]]
    },
    "Wait6": {
      "main": [[{ "node": "Final Cleanup", "type": "main", "index": 0 }]]
    },
    "Final Cleanup": {
      "main": [[{ "node": "Send a text message", "type": "main", "index": 0 }]]
    }
  }
}
