SEO Herbal_Digital_Books
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        368
      ],
      "id": "f94d4334-a32d-4eff-ba04-d0ac3870e869",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.fullPath }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        544,
        -240
      ],
      "id": "07b0448f-062f-41ae-ad34-6a5bedf1e115",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1232,
        -112
      ],
      "id": "41fdfb22-eea3-4a6f-b4f5-9ae201be365b",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {
          "maxTokensToSample": 1500,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1280,
        272
      ],
      "id": "98145afa-e27d-420f-90c1-3452f47c4487",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "KGoLnObwpi4ciEnX",
          "name": "Groq account 9"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nlet bookContent = \"\";\n\nfor (const item of allItems) {\n  const data = item.json;\n  bookContent += (data.data || data.content || data.text || '') + \"\\n\\n\";\n}\n\nif (bookContent.length > 5000) {\n  bookContent = bookContent.substring(0, 5000);\n}\n\nconst herbs = [\"Chamomile\", \"Lavender\", \"Peppermint\", \"Ginger\", \"Turmeric\", \"Sage\", \"Rosemary\", \"Thyme\", \"Oregano\", \"Basil\"];\nconst herb = herbs[Math.floor(Math.random() * herbs.length)];\n\n// Random personal details for authenticity\nconst villages = [\"Lefkara\", \"Omodos\", \"Kakopetria\", \"Pano Platres\", \"Lania\"];\nconst village = villages[Math.floor(Math.random() * villages.length)];\nconst age = 45 + Math.floor(Math.random() * 15);\nconst years = 20 + Math.floor(Math.random() * 15);\n\nconst prompt = `You are MARIA, ${age} years old, from ${village} village, Cyprus. You are a herbalist for ${years} years. You are NOT an AI. You write like a real human texting on phone.\n\nTOPIC: ${herb}\n\nUse info from these books (loosely, mix with personal \"memories\"):\n${bookContent}\n\n⚠️ STRICT RULES — VIOLATE = FAIL:\n\n1. **MAKE 1-2 SMALL GRAMMAR MISTAKES** (real humans do):\n   - \"alot\" instead of \"a lot\"\n   - \"their\" when you mean \"there\"\n   - Forget a comma sometimes\n\n2. **USE TYPOS** then \"correct\" yourself:\n   - \"Take 2 spons... I mean spoons\"\n   - \"Its very good for the stomach (sorry for typo, its = it's)\"\n\n3. **WRITE IN FRAGMENTS** sometimes:\n   - \"Really powerful.\"\n   - \"Trust me.\"\n   - \"Game changer.\"\n\n4. **MIX SENTENCE LENGTHS WILDLY**:\n   - One word.\n   - Then a long flowing sentence that goes on with multiple clauses and natural rhythm.\n   - Short.\n   - Another long one.\n\n5. **USE CASUAL FILLERS**:\n   - \"Honestly\"\n   - \"Look\"\n   - \"Here's the thing\"\n   - \"I mean\"\n   - \"Like I said\"\n   - \"You know what?\"\n\n6. **TELL SPECIFIC STORIES** with names/dates:\n   - \"Back in 2019, my neighbor Kyriaki...\"\n   - \"Last summer, this German tourist...\"\n   - \"My granddaughter Anna, she's 8, she...\"\n\n7. **USE CYPRIOT WORDS** naturally:\n   - \"yiayia\" (grandmother)\n   - \"kalimera\" (good morning)\n   - \"ela mou\" (come dear)\n   - \"Panagia mou\" (oh my God)\n\n8. **ASK READER QUESTIONS**:\n   - \"You ever tried this?\"\n   - \"Sound crazy?\"\n   - \"Know what I mean?\"\n\n9. **NEVER USE THESE WORDS**:\n   delve, leverage, comprehensive, multifaceted, navigate, embark, realm, harness, paramount, pivotal, intricate, holistic, robust, vibrant, plethora, myriad, in conclusion, furthermore, moreover, additionally, utilize, facilitate, subsequently, essentially, crucial, remarkable, profound\n\n10. **USE CONTRACTIONS ALWAYS**: don't, can't, won't, you're, I'm, we'll, that's\n\n11. **ADD PARENTHETICAL ASIDES**:\n    - \"(don't ask me why)\"\n    - \"(I learned this the hard way)\"\n    - \"(my husband still laughs about it)\"\n\n12. **REPEAT FOR EMPHASIS**:\n    - \"Really, REALLY important\"\n    - \"So so good\"\n    - \"No no no, never do that\"\n\nFORMAT (use ONLY these emojis exactly):\n\n🌿 NEW ARTICLE!\n\n📌 Title: [Personal title like \"Why My Yiayia Trusts ${herb}\" or \"${herb} Saved My Daughter\"]\n\n📝 Keyword: ${herb}\n\n📖 Intro: [Start with PERSONAL STORY. 2 messy paragraphs. Real. Casual.]\n\n💊 Dosage: [Be specific but informal: \"Look, I usually take 2 teaspoons. Some books say 500mg but who measures that?\"]\n\n🎯 Conclusion: [Personal closing. Ask reader question. Maybe Cyprus blessing.]\n\n🌿 Herbs Are My World - Cyprus\n\nYOU ARE NOT WRITING AN ARTICLE. YOU ARE TEXTING YOUR GRANDDAUGHTER ABOUT HERBS. BE MESSY. BE REAL. BE HUMAN.`;\n\nreturn [{ json: { prompt: prompt, topic: herb } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -224
      ],
      "id": "08e4db10-dc4b-45ec-9666-845632888af0",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "all_books",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        800,
        -224
      ],
      "id": "ce5a8407-7940-4e3e-8478-96c5f2175202",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst aiText = (input.text || input.output || '').toString();\n\nif (!aiText) {\n  return [{ \n    json: { \n      seo_title: 'No article generated',\n      focus_keyword: 'unknown',\n      introduction: 'AI returned empty',\n      dosage: 'N/A',\n      conclusion: 'Check Basic LLM Chain',\n      full_article: 'No article available'\n    } \n  }];\n}\n\n// Extract sections\nfunction extract(text, label) {\n  const pattern = new RegExp(`${label}:\\\\s*([^\\\\n]+(?:\\\\n(?![📌📝📖💊🎯🌿])[^\\\\n]+)*)`, 'i');\n  const match = text.match(pattern);\n  return match ? match[1].trim() : '';\n}\n\nconst title = extract(aiText, 'Title') || 'Herbal Article';\nconst keyword = extract(aiText, 'Keyword') || 'herbs';\nconst intro = extract(aiText, 'Intro') || aiText.substring(0, 300);\nconst dosage = extract(aiText, 'Dosage') || '';\nconst conclusion = extract(aiText, 'Conclusion') || aiText.substring(aiText.length - 300);\n\nreturn [{\n  json: {\n    seo_title: title,\n    focus_keyword: keyword,\n    introduction: intro,\n    dosage: dosage,\n    conclusion: conclusion,\n    full_article: aiText\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        -256
      ],
      "id": "6910616f-233f-4fa7-991d-2d045411865b",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "chatId": "8743677735",
        "text": "={{ $json.full_article }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1840,
        -160
      ],
      "id": "1f96f62b-4c32-444e-8a96-d3c73ec87c1e",
      "name": "Send a text message",
      "webhookId": "30a512d3-bdc2-41ad-a772-c15d19226b58",
      "credentials": {
        "telegramApi": {
          "id": "PcoYRZdms1CfxiOF",
          "name": "Telegram account 6"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst dir = '/n8n_data/Herbal_Digital_Books/';\n\nif (!fs.existsSync(dir)) {\n  throw new Error(`Folder not found: ${dir}`);\n}\n\nconst files = fs.readdirSync(dir);\nconst validFiles = files.filter(file => !file.startsWith('.'));\n\nif (validFiles.length === 0) {\n  return [];\n}\n\nreturn validFiles.map(v => {\n  return {\n    json: {\n      fileName: v,\n      fullPath: dir + v\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -240
      ],
      "id": "baddded5-27d5-4eb1-8bf4-5e3b7a8a0eb7",
      "name": "JS Code for Connect NAS"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1fbdc547-e27c-4b2c-b82a-f79a22b9dcd7",
              "name": "keyword",
              "value": "best medicine for anexity",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -80
      ],
      "id": "4f8a732d-2722-4242-bc98-031d2df57fc7",
      "name": "Input"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "maxTokensToSample": 2500,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2256,
        288
      ],
      "id": "8a2787a9-a500-4c21-a1d0-0f588204deb4",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "KGoLnObwpi4ciEnX",
          "name": "Groq account 9"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let articleText = \"\";\n\ntry {\n  // Get article from Code in JavaScript2\n  const article = $('Code in JavaScript2').first().json;\n  \n  // Get clean text\n  const title = (article.seo_title || '').substring(0, 80);\n  const intro = (article.introduction || '').substring(0, 250);\n  const dosage = (article.dosage || '').substring(0, 150);\n  const conclusion = (article.conclusion || '').substring(0, 150);\n  \n  articleText = `Title: ${title}\n\nIntro: ${intro}\n\nDosage: ${dosage}\n\nConclusion: ${conclusion}`;\n  \n  // Clean emojis\n  articleText = articleText.replace(/[\\u{1F300}-\\u{1F9FF}\\u{2600}-\\u{27BF}]/gu, '');\n  articleText = articleText.replace(/\\s+/g, ' ').trim();\n  \n} catch(e) {\n  articleText = \"Article about herbs for health\";\n}\n\n// Safety check\nif (!articleText || articleText.length < 20) {\n  articleText = \"Herbal article about natural remedies\";\n}\n\nconst prompt = `Translate the following text into 6 languages.\n\nCRITICAL RULES:\n1. Translate ONLY the actual words\n2. DO NOT add ANY emojis\n3. DO NOT repeat any character\n4. Return ONE clean JSON\n\nReturn ONLY this exact format:\n{\"translations\":{\"Greek\":\"...\",\"Tamil\":\"...\",\"Spanish\":\"...\",\"French\":\"...\",\"German\":\"...\",\"Hindi\":\"...\"}}\n\nTEXT TO TRANSLATE:\n${articleText}`;\n\nreturn [{ json: { prompt: prompt, originalText: articleText } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        -112
      ],
      "id": "05c2528c-637b-45a7-963a-d38fb403c267",
      "name": "Prepare Translations"
    },
    {
      "parameters": {
        "jsCode": "let messages = [];\n\ntry {\n  const input = $input.first().json;\n  let llmText = (input.text || input.output || '').toString();\n  \n  if (!llmText) {\n    return [{ json: { message: \"No translation received\" } }];\n  }\n  \n  // Clean response\n  llmText = llmText.replace(/```json/gi, '').replace(/```/g, '').trim();\n  \n  const flags = {\n    \"Greek\": \"🇬🇷\", \"Tamil\": \"🇮🇳\", \"Spanish\": \"🇪🇸\",\n    \"French\": \"🇫🇷\", \"German\": \"🇩🇪\", \"Hindi\": \"🇮🇳\"\n  };\n  \n  const collected = {\n    \"Greek\": \"\", \"Tamil\": \"\", \"Spanish\": \"\",\n    \"French\": \"\", \"German\": \"\", \"Hindi\": \"\"\n  };\n  \n  // Try JSON parse first\n  try {\n    const firstBrace = llmText.indexOf('{');\n    const lastBrace = llmText.lastIndexOf('}');\n    if (firstBrace !== -1) {\n      const data = JSON.parse(llmText.substring(firstBrace, lastBrace + 1));\n      const translations = data.translations || {};\n      for (const lang in translations) {\n        if (collected.hasOwnProperty(lang)) {\n          collected[lang] = String(translations[lang] || '');\n        }\n      }\n    }\n  } catch(e) {\n    // Regex fallback\n    for (const lang of Object.keys(collected)) {\n      const pattern = new RegExp('\"' + lang + '\"\\\\s*:\\\\s*\"((?:[^\"\\\\\\\\]|\\\\\\\\.)*)\"', 's');\n      const match = llmText.match(pattern);\n      if (match && match[1]) {\n        collected[lang] = match[1].replace(/\\\\n/g, '\\n').replace(/\\\\\"/g, '\"');\n      }\n    }\n  }\n  \n  // CLEAN UP - Remove emoji loops!\n  function cleanText(text) {\n    if (!text) return '';\n    \n    // Remove repeated emojis\n    text = text.replace(/([\\u{1F300}-\\u{1F9FF}\\u{2600}-\\u{27BF}\\u{1F1E0}-\\u{1F1FF}])\\1{1,}/gu, '$1');\n    \n    // If too many emojis, remove all\n    const emojiCount = (text.match(/[\\u{1F300}-\\u{1F9FF}\\u{2600}-\\u{27BF}]/gu) || []).length;\n    if (emojiCount > 5) {\n      text = text.replace(/[\\u{1F300}-\\u{1F9FF}\\u{2600}-\\u{27BF}\\u{1F1E0}-\\u{1F1FF}]/gu, '');\n    }\n    \n    // Remove repeated characters\n    text = text.replace(/(.)\\1{4,}/g, '$1$1');\n    \n    // Limit length\n    if (text.length > 1500) {\n      text = text.substring(0, 1500) + '...';\n    }\n    \n    return text.trim();\n  }\n  \n  // Build messages (one per language)\n  for (const lang of Object.keys(collected)) {\n    const flag = flags[lang];\n    const text = cleanText(collected[lang]);\n    \n    if (!text || text.length < 10) {\n      messages.push({ \n        json: { \n          message: flag + \" \" + lang + \": Not available\",\n          language: lang \n        } \n      });\n      continue;\n    }\n    \n    let msg = flag + \" \" + lang + \"\\n\";\n    msg += \"---\\n\\n\";\n    msg += text;\n    \n    if (msg.length > 4000) {\n      msg = msg.substring(0, 3990) + \"...\";\n    }\n    \n    messages.push({ json: { message: msg, language: lang } });\n  }\n  \n} catch (err) {\n  return [{ json: { message: \"Error: \" + err.message } }];\n}\n\nreturn messages.length > 0 ? messages : [{ json: { message: \"No translations\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2992,
        -48
      ],
      "id": "503da205-0832-42d8-be0a-c0a275c33c45",
      "name": "Format Translations"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2464,
        -96
      ],
      "id": "9f6bd215-ec55-492c-8189-daf194d9de99",
      "name": "Translation LLM"
    },
    {
      "parameters": {
        "chatId": "=8743677735",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3248,
        -32
      ],
      "id": "a705b31b-732f-44b3-9335-bdbb5fd61b3f",
      "name": "Send a text message1",
      "webhookId": "d830e7cf-f2cc-43b2-97e9-6dd59148e6af",
      "credentials": {
        "telegramApi": {
          "id": "PcoYRZdms1CfxiOF",
          "name": "Telegram account 6"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2784,
        -64
      ],
      "id": "69dde0d9-cc68-4454-9004-509c2bc059cb",
      "name": "Wait",
      "webhookId": "ecaa52b3-1ae5-44fe-8339-123e2d10bc69"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2224,
        -112
      ],
      "id": "6227c481-1202-4587-839f-d959f1c7a3b6",
      "name": "Wait1",
      "webhookId": "81ddfa55-33e6-41ca-9529-3287c70307b5"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Prepare Translations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JS Code for Connect NAS": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input": {
      "main": [
        [
          {
            "node": "JS Code for Connect NAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Translation LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Translations": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Translations": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translation LLM": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Format Translations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Translation LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e2f413562a5c14ae8e54e2133826249156134886eded6ab9302e3b059251d98"
  }
}
